.mainWindow{
    -fx-background-image: url("../images/backgroundbluelight.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-size: stretch;
      
}

.mainWind
{
	-fx-background-image: url("../images/wallpaper23.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-size: stretch; 
	
}




.img {
  -fx-background-image: url("wallpaper23.jpg");
  -fx-background-size: cover;
  
}
#pane {
	-fx-background-color: red;
}

.bar
{
  
	-fx-background-radius: 10;
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-background-color: linear-gradient(to top, black,derive(black,40%)); 
				-fx-opacity: 0.8;
	-fx-border-color: 
			derive(black,70%),
			derive(black,40%),
			derive(black, 30%);
	-fx-background-repeat: stretch;  
    -fx-background-size: stretch;
			
}
 
#TestingHooverCss:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}