.textfield{
 	-fx-background-color:
 		linear-gradient(#f2f2f2, #d6d6d6),
 		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
 		linear-gradient(#dddddd 0%, #f6f6f6 50%);
 	-fx-background-radius: 8,7,6;
 	-fx-background-insets: 0,1,2;
 	-fx-text-fill: black;
 	-fx-effect: 
 		dropshadow( three-pass-box ,rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
 }

.button{
 	-fx-background-color:
 		linear-gradient(#f2f2f2, #d6d6d6),
 		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
 		linear-gradient(#dddddd 0%, #f6f6f6 50%);
 	-fx-background-radius: 8,7,6;
 	-fx-background-insets: 0,1,2;
 	-fx-text-fill: black;
 	-fx-effect: 
 		dropshadow( three-pass-box ,rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
 }
 #gridpane
 {
 	-fx-background-radius: 10;
	-fx-border-radius: 20;
	-fx-border-width: 2;
	-fx-background-color: linear-gradient(to top, black,derive(black,40%)); 
				-fx-opacity: 0.8;
	-fx-border-color: 
			derive(black,70%),
			derive(black,40%),
			
			derive(black, 30%);
	-fx-background-repeat: stretch;  
    -fx-background-size: stretch;
 	
 }
 .label
 {
 	-fx-text-fill: white;
 }
 
.context-menu .label
{
	-fx-text-fill: black;
}

.tree-cell .tree-item
{
	-fx-background-color: #0093ff;
	-fx-text-fill: black;
}
