.background {
    -fx-background-color: #1d1d1d;
}

.textfield{
 	-fx-background-color:
 		linear-gradient(#f2f2f2, #d6d6d6),
 		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
 		linear-gradient(#dddddd 0%, #f6f6f6 50%);
 	-fx-border-color: 
			derive(black,70%),
			derive(white,40%),
			derive(black, 30%);
 	-fx-text-fill: black;
 	-fx-font-size: 13px;
    -fx-font-weight: bold;
 	-fx-effect: 
 		dropshadow( three-pass-box ,rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.primepanel{
 	-fx-border-radius: 10 10 0 0;
  	-fx-background-radius: 10 10 0 0;
	-fx-background-color:#1d1d1d;
}

.titlenviroment{
	-fx-text-fill:white;
	-fx-font-size:22px;
	-fx-font-weight:bold;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
	
.button{
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-background-color:#1d1d1d;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
 }
 
.button:hover{
-fx-background-color: #C0CCCC;
}
 
 #gridpane{
 	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
 	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
 	-fx-background-color:rgb(50, 50, 50);
  }
 
 .insidelabel{
 	-fx-text-fill: white;
 	-fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
 }
 
.tree-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family:"Helvetica";    
}

.tree-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
}
  
.context-menu .label{
	-fx-text-fill: black;
 	-fx-font-size: 13px;
    -fx-font-weight:bold;
    -fx-font-family: "Helvetica";
}

.tree-cell {
	-fx-background-color:AntiqueWhite;
}


